
/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&family=Yellowtail&display=swap");

/*Colours used*/
:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --purple: rgb(210, 75, 200);
  --darkpurple: rgb(100, 30, 100);
  --lightpurple: rgb(220, 200, 220);
  --blue: rgb(100, 150, 210);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--darkpurple);
  color: var(--darkpurple);
  font-family: "Ubunto", sans-serif;  
}

#quiz-container{
  margin: 5em;
}

.questionbox{
  background-color: var(--lightpurple);
  margin: 5em auto;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 700px;
}

#question{
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--darkpurple);
}

.option{
  margin-bottom: 0.5rem;
  background-color: var(--white);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.option:hover{
  background-color: var(--darkpurple);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

ol{
  list-style-type: none;
}

#answers{
  list-style-type: decimal;
}

#xof5{
  color: var(--darkpurple);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.3em;
}

button{
  background-color: var(--darkpurple);
  color: var(--white);
  padding: 1rem 3rem;
  font-size: 1em;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

button:hover{
  background-color: var(--purple);
  transition: all 0.3s ease-in-out;
}

#scoreboard, #answerContainer{
  background-color: var(--lightpurple);
  color: var(--darkpurple);
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 320px;
  text-align: center;
  position: relative;
  display: none;
  
}

#score-name{
  color: var(--darkpurple);
  margin-bottom: 1.5rem;
}

#score{
  color: var(--darkpurple);
  font-size: 2.5em;
}

#score-btn, #check-answer{
  margin-top: 1.5rem;
}

#answerContainer li{
  text-align: left;
  margin-top: 1rem;
  font-size: 1.2em;
}
#answerheader{
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--darkpurple);
  padding: 0.3rem;
}

#answers{
  margin-top: 1.5rem;
  padding-left: 1rem;
}

@media screen and (max-width: 768px){

  body{
    background-color: var(--lightpurple);
  }
  #quiz-container{
    margin:0;
  }
  .questionbox{
    margin: 0;
    max-width: 100%;
    border-radius: 0;
  }

  .buttons{
  text-align: center;
  }

  button{
    width: 100%;
  }

}